Dockerfile
TensorFlow-Tutorials
handson-ml
handwritten-digits-recognition
intro-to-tensorflow
log
note
oscon-tf
tensorflow
tensorflow-ipy
tensorflow-notebooks
tensorflow-udacity-vagrant
tensorflow-white-paper-notes
test
tf-play
